


<div class="row">
    <div class="col-md-12">
        <div class="col-md-11">
            <div class="col-md-4">
                <input type="text" class="form-control" id="txtNameS" placeholder="Type name" />
            </div>
            <div class="col-md-4">
                <select class="form-control" id="ddlStatusS">
                    <option value="">All</option>
                    <option value="true">Active</option>
                    <option value="false">Locked</option>
                </select>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" id="btnSearch">Search</button>
                <button class="btn btn-default" id="btnReset">Reset</button>
            </div>
        </div>
        <div class="col-md-1">
            <button id="btnAddNew" class="btn btn-success pull-right">Ajouter  <i class="fa fa-plus"></i></button>        </div>
    </div>
</div>
<br /><br /><br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <td>Code </td>
                    <td>Libellé</td>
                    <td>Taux Horaire</td>
                    <td>Panne</td>


                    <td>#</td>

                </tr>
            </thead>
            <tbody id="tblData"></tbody>
        </table>
        <div id="pagination" class="pagination">
        </div>
        <script id="data-template" type="x-tmpl-mustache">
            <tr>
                <td>{{Code_cause}}</td>
                <td>{{libelle}}</td>
                <td>{{taux_horaire}}</td>
                
                <td>{{panne}}</td>

                <td>
                    <button onclick="fncEdit(this)" id="btn-edit" class="btn btn-info"  data-id="{{Id}}">Edit</button>
                    <button onclick="fncDelelte(this)" id="btn-delete" class="btn btn-danger" data-id="{{Id}}">Delete</button>
                </td>
            </tr>
        </script>
    </div>
</div>

@RenderPage("_CattEquipModal.cshtml")







@section scripts{
    <script src="~/assets/global/plugins/bootbox/bootbox.min.js"></script>
    <script src="~/Scripts/controllers/CattEquipController.js"></script>
    <script src="~/Scripts/plugins/jquery.twbsPagination.min.js"></script>
    <script src="~/Scripts/plugins/mustache.min.js"></script>

}
