<!-- Modal  -->
<div class="modal fade" id="modalAddUpdate" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ajouter/Modifier</h4>
            </div>

            <div class="modal-body">
                <form role="form">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="txtcodeDevise">Code Devise</label>
                                <div class="col-xs-6">
                                    <div class="input-icon">
                                        <i class="fa fa-star"></i>
                                       
                                        <input type="text" class="form-control" id="txtcodeDevise">
                                        <input type="hidden" id="hidID" value="0" />
                                        <label id="lblmsg" class="help-block text-danger" />

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <hr>
                    <!--/////////////////////-->
                    <div class="portlet-body form">


                        <div class="form-body">
                            <h3 class="form-section">Parametres</h3>

                            <!--/row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label class="control-label" for="txtDesignation">Designation</label>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="input-icon">
                                                <i class="fa fa-star"></i>
                                               
                                                <input type="text" class="form-control" id="txtDesignation">
                                                <label id="lblmsg1" class="help-block text-danger" />

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <br /><br /><br />
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label class="control-label" for="txtdecimale">Décimale</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="txtdecimale">
                                        </div>

                                    </div>
                                </div>
                                <br /><br /><br />
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label class="control-label">Nb.</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" id="txtnb">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <br /><br />


                            <!--/span-->
                        </div>
                    </div>

                </form>
            </div>






            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                <button onclick="close()"  class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



