<!-- Modal  -->
<div class="modal fade in" id="modalAddUpdate" role="dialog">
    <div class="modal-dialog modal-full">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ajouter/Modifier</h4>
            </div>

            <div class="modal-body">
                <form role="form">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-wrench"></i>Fiche Suivi OT Curatif
                            </div>
                            <div class="tools">
                                
                                <a href="javascript:;" class="collapse">
                                </a>


                            </div>
                        </div>
                        <div class="portlet-body">


                            <div class="tabbable-custom nav-justified">
                                <ul class="nav nav-tabs nav-justified">
                                    <li class="active">
                                        <a href="#tab_1_1_1" data-toggle="tab">
                                            Identification
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab_1_1_2" data-toggle="tab">
                                            Détails Ressource
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab_1_1_3" data-toggle="tab">
                                            Détails
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1_1_1">
                                        <!-- Modal content-->
                                        <div class="row">


                                            <br /><br />
                                            
                                               
                                                    <div class="col-md-12">
                                                        <br /><br />
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class=" control-label">Date Déc</label>
                                                                <div class="input-group">
                                                                    <input type="Date" class="form-control" id="txtRefFour">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!--/span-->
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label">Heure Déc</label>
                                                                <div class="input-group">
                                                                    <input type="Date" class="form-control" id="txtRefFour">
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>


                                                    <div class="col-md-12">
                                                        <br />
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label for="exampleInputPassword1">Durée Réelle</label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Durée Réelle">
                                                                    <span class="input-group-addon">
                                                                        Jr
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label for="exampleInputPassword1"> </label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="--:--">
                                                                    <span class="input-group-addon">
                                                                        hh:mm
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>

                                                    <div class="col-md-12">
                                                        <br />
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label for="exampleInputPassword1">Durée Réelle</label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Durée Réelle">
                                                                    <span class="input-group-addon">
                                                                        Jr
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                



                                                </div>





                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="tab_1_1_2">

                            </div>
                            <div class="tab-pane" id="tab_1_1_3">

                            </div>
                        </div>
                    </div>
                </form>
            </div>







            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnSave">Valider</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>




           

        </div>
    </div>



    </div>




